@page "/{walletAddress}/to/{toAddress}"
@inject IJSRuntime jsRuntime

<PageTitle>Transfer from @WalletAddress?.TruncateBetween() to @ToAddress?.TruncateBetween()</PageTitle>

<MudContainer MaxWidth="MaxWidth.ExtraLarge">
    <MudText Align="Align.Center">
        <a href="/">
            <MudImage Width="128" Src="logo.png" Class="mx-auto mb-15" />
        </a>
    </MudText>
    <MudText Typo="Typo.h3" Align="Align.Center" GutterBottom="true">Batch Transfers</MudText>
    <MudText Typo="Typo.h6" Align="Align.Center" GutterBottom="true">
        @WalletAddress?.TruncateBetween()
        to
        @ToAddress?.TruncateBetween()
    </MudText>
    <MudGrid Spacing="2" Class="mt-16">
        <MudItem xs="8">
            <MudText Typo="Typo.h5" GutterBottom="true">BOOK GAMEs Tokens</MudText>
            <MudDataGrid Items="@Elements" Sortable="true" Filterable="true" Dense="true" @ref="Grid"
                MultiSelection="true" RowClick="OnRowClickCallback" T="TokenResponseModel" RowStyleFunc="@_rowStyleFunc">
                <Columns>
                    <Column T="TokenResponseModel" Field="TokenId" />
                    <Column T="TokenResponseModel" Field="Name">
                        <CellTemplate>
                            <h5>@context.Item.Metadata.Name</h5>
                            <small>@context.Item.Metadata.Spectacular / @context.Item.Metadata.TokenFrame</small>
                        </CellTemplate>
                    </Column>
                    <Column T="TokenResponseModel" Field="ImageUrl" Filterable="false">
                        <CellTemplate>
                            <MudImage Src="@context.Item.ImageUrl" Alt="@context.Item.Name" Width="64" Elevation="25" />
                        </CellTemplate>
                    </Column>
                </Columns>
                <PagerContent>
                    <MudDataGridPager T="TokenResponseModel" />
                </PagerContent>
            </MudDataGrid>
        </MudItem>
        <MudItem xs="4">
            <MudText Typo="Typo.h5" GutterBottom="true">Cart</MudText>
            <MudPaper Class="d-flex flex-column" Outlined="true">
                <MudList Clickable="true">
                    @foreach (var selected in Grid!.SelectedItems)
                    {
                        <MudListItem>
                            <div class="d-flex">
                                <MudText>@selected.Name</MudText>
                            </div>
                        </MudListItem>
                    }
                </MudList>
                <div class="mt-auto">
                    <MudDivider />
                    <div class="d-flex pa-4">
                        <MudText>Total:</MudText>
                        <MudText Class="ml-auto"><b>@Grid?.SelectedItems.Count</b></MudText>
                    </div>
                </div>
                <div class="mt-auto">
                    <MudDivider />
                    <div class="d-flex pa-4">
                        <MudButton OnClick="OnTransferClick" Variant="Variant.Filled">Transfer NFTs
                        </MudButton>
                    </div>
                </div>
            </MudPaper>
        </MudItem>
    </MudGrid>
</MudContainer>